<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Романов Дмитрий</h1>
      <h2 class="project-tagline">Web-разработчик, Воронеж</h2>
      <a href="{{ site.github.owner_url }}" class="btn" target="_blank">GitHub</a>
      <a href="mailto:fortsq@gmail.com" class="btn" target="_blank">E-mail</a>
      <a href="https://t.me/fortsq" class="btn" target="_blank">Telegram</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div class="site-footer-owner">И немножко юмора..:</div>
        <div class="site-footer-credits">Не тяните до последнего, чтобы сделать задачу через жопу. Делайте через жопу сразу - будет время пофиксить!</div>
        <div class="site-footer-credits">- Кстати, я сегодня спас продукт от говнокода. - Да ладно, как? - Самоконтроль, парни, самоконтроль!</div>
        <div class="site-footer-credits">Если код из говна и палок, смешанных в правильной пропорции, достаточно проработает в Проде - то образует монолитную архитектуру.</div>
      </footer>
    </main>
  </body>
</html>
